<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ClipJotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ClipJot">

        <!-- Share Activity - Receives share intents -->
        <activity
            android:name=".ui.share.ShareActivity"
            android:exported="true"
            android:theme="@style/Theme.ClipJot.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ClipJot" />

        <!-- OAuth Callback - Deep link handler -->
        <activity
            android:name=".ui.auth.OAuthCallbackActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="clipjot"
                    android:host="oauth"
                    android:path="/callback" />
            </intent-filter>
        </activity>

        <!-- Settings Activity (also serves as launcher) -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.ClipJot">
            <!-- Launcher icon -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- App preferences from system settings -->
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
